
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } 
   
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }



  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }  


.card-body{
    background-color: rgb(167, 171, 175);
}
.foot{
    background-color: rgb(245, 250, 250);
}

 .containerpark{
    width: 100%;
    padding: 60px;
}
.parkcard{
    margin: 25px;
    margin-top: 0px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 9px;
    
} 
.parkcardbody{
    background-color: white;
}
.card-text-park{
    text-align: justify;
}
.bcontent {
    margin-top: 10px;
}
.abouts{
    text-align: center;
}

.dashboard-img{
    width: 100%;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .containerpark{
        flex-direction: column;
    }
  }